/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8b8b8b;
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/* UTILITIES */

/* Layout */
.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

/* menu */
.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child {
    margin-right: 0;
}

/* button */
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn.btn-green {
    background-color: #7cbb01;
    border: 1px solid transparent;
}

.btn.btn-large {
    padding: 20px;
}

/* fonts */
h2.black {
    font-size: 30px;
    color: black;
}


/* MAIN HEADER */
.main-header{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 80px;
    background-color: #0d325a;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-header .logo {
    width: 15%;
}

.main-header .logo img {
    vertical-align: middle;
}

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right {
    width: 40%;
    text-align: right;
}

.main-header a {
    text-decoration: none;
    color: white;
}

.main-header a:not(.btn):hover {
    color: #7cbb01;
}

.main-header a.btn {
    line-height: 1;
}

/* MAIN CONTENT */
/* section 1  */
.jumbotron {
    height: 480px;
    background-color: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 135% bottom; 
}

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jumbotron-text h1 {
    margin-bottom: 30px;
    font-size: 48px;
    color: white;
}
 /* section 2 */
.subtitle {
    padding: 50px;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    background-color: #d3d3d3;
}

.subtitle h2 {
    color: black;
}

/* section 3  */
.columns {
    width: 33%;
    height: 550px;
    text-align: center;
    margin: 30px auto;
    padding: 25px;
}

.columns img{
    height: 45%;
    margin: 20px;
}

.columns h2 {
    color: #7cbb01;
}

.columns p {
    line-height: 25px;
}

.columns hr {
    margin: 25px auto;
    width: 30%;
}

/* section 4 */
.mountain {
    margin: 30px auto;
    padding: 30px;
}

.mountain-image img {
    width: 100%;
}

.mountain-text {
    padding: 0 50px;
}

/* .mountain-text h2 {
    font-size: 30px;
    color: black;
} */

.mountain-text p {
    margin: 30px auto;
}

.mountain-text a {
    color: #5586bc;
}

/* FOOTER */
footer {
    background-color: #d3d3d3;
    height: 200px;
    line-height: 200px; 
}

.footer-left h2 {
    font-size: 30px;
    text-align: left;
    color: black;
}

.footer-right {
    text-align: right;
}

.footer-right select {
    margin: 0 30px;
    border: transparent;
    border-bottom: 1px solid #8b8b8b;
    font-size: 16px;
    color: #8b8b8b;
    background-color: #d3d3d3;
}

footer a.btn {
    line-height: 1;
}

.help {
    position: fixed;
    bottom: 0;
    right: 100px;
    border-radius: 5px 5px 0 0 ;
}

/* MAIN CONTENT 2 */
/* section 5 */
.section-5 {
    height: 400px;
}

.hands img {
    width: 100%;
    padding: 10% 0;
}

.hands_text {
    padding: 6%;
    position: relative;
}

.hands_text p {
    margin: 20px 0;
    font-size: 20px;
}

.hands_text div {
    display: inline-block;
    width: 40%;
    text-align: center;
    color: #aec4ce;
    padding: 12px;
    position: absolute;  
}